<a href="https://colab.research.google.com/github/2303A51022/python-for-datascience/blob/main/Lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
data = {
    "TransactionID": [101, 102, 103, 104, 105, 103, 106, 104],
    "CustomerName": ["Alice", "Bob", "Charlie", "David", "Eva", "Charlie", "Frank", "David"],
    "Product": ["Laptop", "Phone", "Tablet", "Laptop", "Phone", "Tablet", "Laptop", "Laptop"],
    "Amount": [1000, 500, 300, 1000, 500, 300, 1200, 1000],
    "Date": ["2025-09-01", "2025-09-02", "2025-09-03", "2025-09-04",
             "2025-09-05", "2025-09-03", "2025-09-06", "2025-09-04"]
}

sales_df = pd.DataFrame(data)

print("----- Original Sales Dataset -----")
print(sales_df)
duplicate_count = sales_df.duplicated().sum()
print("\nNumber of duplicate rows BEFORE cleaning:", duplicate_count)
cleaned_sales_df = sales_df.drop_duplicates()
duplicate_count_after = cleaned_sales_df.duplicated().sum()
print("Number of duplicate rows AFTER cleaning:", duplicate_count_after)
print("\n----- Cleaned Sales Dataset -----")
print(cleaned_sales_df)
print("\nWhy are duplicates harmful?")
print("1. Duplicates inflate sales figures and lead to inaccurate reports.")
print("2. They distort customer behavior analysis.")
print("3. They cause errors in financial forecasting.")
print("4. Removing them ensures data integrity and reliable insights.")

----- Original Sales Dataset -----
   TransactionID CustomerName Product  Amount        Date
0            101        Alice  Laptop    1000  2025-09-01
1            102          Bob   Phone     500  2025-09-02
2            103      Charlie  Tablet     300  2025-09-03
3            104        David  Laptop    1000  2025-09-04
4            105          Eva   Phone     500  2025-09-05
5            103      Charlie  Tablet     300  2025-09-03
6            106        Frank  Laptop    1200  2025-09-06
7            104        David  Laptop    1000  2025-09-04

Number of duplicate rows BEFORE cleaning: 2
Number of duplicate rows AFTER cleaning: 0

----- Cleaned Sales Dataset -----
   TransactionID CustomerName Product  Amount        Date
0            101        Alice  Laptop    1000  2025-09-01
1            102          Bob   Phone     500  2025-09-02
2            103      Charlie  Tablet     300  2025-09-03
3            104        David  Laptop    1000  2025-09-04
4            105          Eva   Phone     500  2025-09-05
6            106        Frank  Laptop    1200  2025-09-06

Why are duplicates harmful?
1. Duplicates inflate sales figures and lead to inaccurate reports.
2. They distort customer behavior analysis.
3. They cause errors in financial forecasting.
4. Removing them ensures data integrity and reliable insights.

In [3]:
import pandas as pd
data = {
    "EmployeeID": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Salary": ["50000", "60000", "55000", "70000", "65000"],   # Stored as strings
    "Joining_Date": ["2020-01-15", "2019-05-20", "2021-03-10", "2018-11-05", "2022-07-25"] # Strings
}

employee_df = pd.DataFrame(data)

print("----- Original Employee Dataset -----")
print(employee_df)
print("\nData Types Before Conversion:")
print(employee_df.dtypes)
employee_df["Salary"] = pd.to_numeric(employee_df["Salary"])
employee_df["Joining_Date"] = pd.to_datetime(employee_df["Joining_Date"])
print("\n----- Cleaned Employee Dataset -----")
print(employee_df)
print("\nData Types After Conversion:")
print(employee_df.dtypes)
print("\nWhy are correct data types important?")
print("1. Numeric types (like Salary) allow calculations such as averages, sums, and comparisons.")
print("2. Datetime types (like Joining_Date) enable time-based analysis such as tenure, promotions, and trends.")
print("3. Incorrect data types lead to errors or wrong results during analysis.")
print("4. Correct data types improve performance, accuracy, and reliability of reports.")

----- Original Employee Dataset -----
   EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2020-01-15
1           2      Bob  60000   2019-05-20
2           3  Charlie  55000   2021-03-10
3           4    David  70000   2018-11-05
4           5      Eva  65000   2022-07-25

Data Types Before Conversion:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

----- Cleaned Employee Dataset -----
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2020-01-15
1           2      Bob   60000   2019-05-20
2           3  Charlie   55000   2021-03-10
3           4    David   70000   2018-11-05
4           5      Eva   65000   2022-07-25

Data Types After Conversion:
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Why are correct data types important?
1. Numeric types (like Salary) allow calculations such as averages, sums, and comparisons.
2. Datetime types (like Joining_Date) enable time-based analysis such as tenure, promotions, and trends.
3. Incorrect data types lead to errors or wrong results during analysis.
4. Correct data types improve performance, accuracy, and reliability of reports.